.create-page {
  /* background-color: rgba(238, 204, 210, 0.628); */
  height: 100vh;
  width: 100%;
  margin: 0px 100px 50px 150px;
  display: flex;
}

.form-side {
  /* background-color: rgba(255, 192, 203, 0.17); */
  width: 60%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#create-page-title {
  margin-top: 50px;
  margin-bottom: 25px;
}

/* Decorative Panel Side */
.gradient-side {
  background-image: linear-gradient(
    rgba(250, 109, 114) 50%,
    rgba(196, 196, 196, 0.3)
  );
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40%;
}

.quote-area {
  height: 330px;
  width: 380px;
}

#quote {
  color: white;
}

@media (max-width: 50em) {
  .create-page {
    margin: 50px 25px 10px 25px;
  }
}

@media (max-width: 1255px) {
  .gradient-side {
    display: none;
  }

  .form-side {
    width: 100%;
  }
}