/* TODO: fix input-text line start point */

.trip-form {
  display: flex;
  flex-direction: column;
  width: 450px;
  height: fit-content;
}

label {
  font-size: var(--fs-6);
  color: var(--black-50);
  font-weight: var(--fw-bold);
  margin-bottom: 7px;
}

input {
  margin-bottom: 10px;
  padding: 10px;
  border-radius: var(--br-form);
  border: 2px solid var(--black-25);
  box-shadow: 0px 2px 5px var(--black-25);
}

/* Title, location, dates */
.input-line {
  height: 50px;
}

/* For itinerary and packing */
.input-text {
  height: 125px;
}

/* Form color changes while in use */
input:focus {
  outline-color: var(--signature-50) !important;
}

@media (max-width: 50em) {
.trip-form {
    width: 333px;
  }
}